.bedst img{
    width: 30px;
    cursor: pointer;
}
.bedst img:hover{
    filter: invert(1);
    box-shadow: 2px 2px 2px rgb(232, 87, 87);
    border-radius: 50%;
}
.bedst{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    background-color:  rgba(217, 217, 217, 0.2);
    padding: 20px;
    border-radius: 25px;
    
}
.hd{
    background-color: #40D06D;
    padding: 6px;
    border-radius: 25px;
}
.bedst input{
  background-color:  rgba(217, 217, 217, 0.2);
  width: 100px;
  border-radius: 25px;
  outline: none;
  padding: 5px;
    margin-left: -20px;
    margin-top: -5px;
}