.d-main{
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5;
}
.f-main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}