.doc-card {
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  background-color: #1b3b48fd;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid;
  border-color: #537786c8;
  color: white;
  transition: 0.5s;
}
.doc-card:hover {
  transform: scale(1.1);
}
.doc-card img {
  width: 50px;
  height: 50px;
  margin-top: 7px;
}
.infodoccard {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.book-appointment {
  margin-top: 15px;
  border-radius: 15px;
  /* width: 160px; */
  padding: 8px 6px;
  /* height: 40px; */
  text-align: center;
  background-color: #40d06d;
  cursor: pointer;
  padding: 5px;
}
