.doc-card{
      display: flex;
      flex-direction: row;
      column-gap: 20px;
     margin-bottom: 20px;
      background-color: #403e3ec8;
      padding: 8px 5px;
      border-radius: 10px;
      justify-content: center;
      align-items: center;

}
.doc-card img{
    width: 50px;
    height: 50px;
    margin-top: 7px;
}
.book-appointment{
    margin-top: 15px;
    border-radius: 15px;
    /* width: 160px; */
    padding: 8px 6px;
    /* height: 40px; */
    text-align: center;
    background-color: #40D06D;
    cursor: pointer;
    padding: 5px;

}
.spp,.ql{
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    justify-content: center;
    align-items: center;
}
.tg{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}