.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #040e0f;
}

.footertop {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.footersection {
  flex: 1fr;
  padding-top: 20px;
  justify-content: center;
}
.footertitle {
  font-size: 20px;
  font-weight: 200;
}
.footerbutton {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: white;
}
@media (max-width: 700px) {
  .footertitle {
    font-size: 15px;
  }
  .footerlist {
    font-size: 10px;
  }
}

.footerbutton:hover {
  color: rgb(192, 214, 233);
}
.footerlist {
  padding-left: 0;
}

.footerbottom {
  border-top: solid;
  border-color: rgb(231, 231, 231);
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.footerbuttonlogo {
  background-color: transparent;
  border: none;
}
