
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    column-gap: 30px;
    margin-top: 150px;
    background-color:  #2c2a2a;
    height: 280px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}
.about img{
    margin-left: 20px;
}
.continue-button{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    margin-left: 330px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: #403e3ec8;
    width: 348px;
    height: 40px;
    border-radius: 10px;
}
.drpdwn1{
     margin: 30px;
     width: 150px;
     margin-left: 150px;
     padding: 7px 12px;
     border-radius: 24px;
     background-color: #403e3ec8;
}
.drpdwn2{
    margin: 30px;
    width: 155px;
    margin-left: 150px;
    padding: 7px 25px;
    border-radius: 24px;
    background-color: #403e3ec8;
}
.spec-bed-books{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 280px;
    margin: 0px 50px;
}