
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;

}


.continue-button{
    display: inline-flex;
    flex-direction: row;
    column-gap: 60px;
    margin-top: 60px;
    background-color: #403e3ec8; 
    height: 50px;
    border-radius: 10px;
    padding: 8px 6px;
}
.drpdwn1{
     margin-bottom: 30px;
     width: 150px;
    margin-left: 80px;
     padding: 6px 45px;
     border-radius: 24px;
     background-color: #403e3ec8;
}
.drpdwn2{
    margin-bottom: 30px;
    width: 155px;
    margin-left: 110px;
    padding: 6px 45px;
    border-radius: 24px;
    background-color: #403e3ec8;
}
.spec-bed-books{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 280px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.review{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color:  #2c2a2a;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 20px;
    border-radius: 15px;
}
